* { /* CSS Reset */
	vertical-align: baseline;
	font-weight: inherit;
	font-family: sans-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #444;
}
/* {
	border: 2px dotted red;
} */
.container-center {
	margin: 0 auto;
	width: 960px;
}
.blue-text {
	color: #4574ae;
}
.lightblue-text {
	color: #04aeda;
}
.red-text {
	color: red;
}
.bold-text {
	color: #222;
	font-weight: 900;
}
header img {
	position: absolute;
	height: 100px;
}
header h1 {
	position: relative;
	font-size: 50px;
	left: 90px;
	top: 20px;
}
header h2 {
	margin-top: 20px;
	font-size: 40px;
	padding: 10px;
	color: white;
	background-image: linear-gradient(#4574ae, #04aeda, #4574ae);
}
.side-sec {
	display: inline-block;
	width: 190px;
	margin-right: 40px;
	vertical-align: top;
}
.main-sec {
	display: inline-block;
	width: 720px;
	vertical-align: top;
}
.side-top {
	display: inline-block;
	width: 200px;
	font-size: 80%;
	padding-bottom: 20px;
	border-bottom: 1px solid #666666;
	margin-bottom: 20px;
}
.side-top h3 {
	margin-top: 20px;
	font-size: 120%;
}
.side-top p {
	margin-top: 10px;
	margin-bottom: 15px;
}
.button {
	display: inline-block;
	color: white;
	font-size: 110%;
	padding: 10px;
	background-color: black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #444;
	width: 90%;
	font-weight: 700;
	text-align: center;
	margin: 4px;
}
.small-button {
	display: inline-block;
	color: white;
	padding: 10px;
	background-color: black;
	border-radius: 10px;
	box-shadow: 3px 3px 3px #444;
	width: 70%;
	font-weight: 700;
	text-align: center;
	margin: 4px;
}
.button.blue-button {
	background-color: #4574ae;
}
.small-button.lightblue-button {
	background-color: #04aeda;
}
.button.orange-button {
	background-color: #ffaf3f;
}
.op-1-3 {
	color: rgba(255, 255, 255, 0.3);
}
.op-2-3 {
	color: rgba(255, 255, 255, 0.6);
}
.adv {
	width: 180px;
	text-align: center;
	padding: 20px 15px;
	background-image: url("images/ad_background.png");
}
.adv p {
	color: white;
	font-size: 125%;
}
.adv img {
	width: 80%;
	margin: 10px 0;
}
.home-sec {
	display: inline-block;
	width: 70px;
	margin-top: 10px;
	vertical-align: top;
}
.home-sec img {
	height: 25px;
}
.home-sec p {
	display: inline-block;
	font-size: 120%;
	height: 30px;
}
.phone-sec {
	display: inline-block;
	width: 193px;
	margin-left: 422px;
	margin-top: 10px;
	vertical-align: top;
}
.phone-sec img {
	display: inline-block;
	width: 60px;
}
.phone-sec p {
	display: inline-block;
	color: #aaa;
	font-size: 60%;
	vertical-align: top;
}
.phone-sec h3 {
	display: inline-block;
	font-size: 130%;
	font-weight: 700;
	vertical-align: top;
}
.phone-sec div {
	display: inline-block;
	width: 128px;
	vertical-align: top;
}
.top-main {
	padding-bottom: 10px;
	border-bottom: 1px solid #666666;
	margin-bottom: 20px;
}
div h3 {
	color: #4574ae;
	font-size: 130%;
	font-weight: 700;
}
div ol, div ul {
	margin-left: 50px;
}
.mid-main p, .mid-main li, .bot-main p, .bot-main li {
	margin: 10px;
}
.mid-main img {
	width: 40%;
	margin: 20px 0 20px 30%;
}
.bot-main {
	padding: 10px;
	border: 5px solid #4574ae;
	box-shadow: 3px 3px 3px #444;
}
.bot-main img {
	margin: 10px;
	width: 20%;
}
.bot-main div {
	display: inline-block;
	width: 70%;
	vertical-align: top;
}